.card{
    display: flex;
    flex-direction:row;
    width: 100%;
    border-bottom: 5px solid #af24a9;
    height: 90px;
}
.card:not(:first-child){
    border-top: 5px solid #af24a9;

}
.card h3:last-child{
    border-right:none;
}
h3,h5{
    font-family: "Amatic SC", cursive;
    padding:0 20px 0 20px;
    font-size:1.4em;
    align-self:center;
    width: 100%;
}
h3{
    color: #af24a9;
    text-align: left;
    display: flex;
    border-right:1px solid #af24a9;
}
h5{
    text-align: center;
}
.row p{
    border:none;
    box-shadow:none;
    margin:0;
    color: #333;
    font-family: 'Solway', serif;
    font-weight: 100;
    font-size: 1em;
    padding:20px;
}