.card{
    display: flex;
    flex-direction:row;
    width: 100%;
}
h3,h5{
    font-family: "Amatic SC", cursive;
    padding:20px;
    font-size:1.4em;
    align-self:center;
    width: 100%;
}
h3{
    color: #af24a9;
    text-align: left;
    display: flex;
    border-right:1px solid #af24a9;
}
h5{
    text-align: center;
}