h1 {
    font-family: Cabin sketch;
    font-style: italic;
    font-size: 9vw;
    text-shadow: 3px 3px #e2098e;
    color: aquamarine;
    text-align:center;
  }
  nav ul {
    border-right: 5px dotted #e2098e;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }
  li {
    padding: 14px 16px;
  }
  #about li a {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-size: 1.9em;
    font-family: "Amatic SC", cursive;
    text-shadow: 1px 1px #e2098e;
  }
  li a:hover:not(.active) {
    border: 1px solid #e2098e;
    color: #af24a9;
  }