h1 {
  position:relative;
  font-family: 'Bebas Neue', cursive;
    font-style: bold;
    font-size: 9vw;
    color:  #e2098e;
    border-top: 3px dashed #e2098e;
    border-bottom:3px dashed #e2098e;
    padding:10px;
    width: fit-content;
  }
h1:before {
 content:"";
 position: absolute;
 top:5px;
 bottom:5px;
 left:0;
 right:0;
 border-top: 3px dashed #e2098e;
 border-bottom:3px dashed #e2098e;
}
h1:after {
 content:"";
 position: absolute;
 top:15px;
 bottom:15px;
 left:0;
 right:0;
 border-top: 3px dashed #e2098e;
 border-bottom:3px dashed #e2098e;
}
  nav ul {
    border-right: 5px dashed #e2098e;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }
  li {
    padding: 14px 16px;
  }
  #about li a {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-size: 1.9em;
    font-family: "Amatic SC", cursive;
    text-shadow: 1px 1px #e2098e;
  }
  li a:hover:not(.active) {
    border: 1px solid #e2098e;
    color: #af24a9;
  }