h1 {
  position:relative;
  font-family: 'Bebas Neue', cursive;
    font-style: bold;
    font-size: 9vw;
    color:  #e2098e;
    border-top: 3px dashed #e2098e;
    border-bottom:3px dashed #e2098e;
    padding:10px;
    width: fit-content;
  }
h1:before {
 content:"";
 position: absolute;
 top:5px;
 bottom:5px;
 left:0;
 right:0;
 border-top: 3px dashed #af24a9;
 border-bottom:3px dashed #af24a9;
}
h1:after {
 content:"";
 position: absolute;
 top:15px;
 bottom:15px;
 left:0;
 right:0;
 border-top: 3px dashed #e2098e;
 border-bottom:3px dashed #e2098e;
}
.main-nav{
  padding: 20px 0 20px 0;
}
.main-nav ul {
    border-right: 5px dashed #e2098e;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .main-nav li {
    padding: 14px 16px;
  }
  .main-nav a {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-size: 1.9em;
    font-family: "Amatic SC", cursive;
    text-shadow: 1px 1px #e2098e;
  }
  li a:hover:not(.active) {
    border: 1px solid #e2098e;
    color: #af24a9;
  }
#slider i{
    font-size:3em;
    color: #e2098e;
    position:sticky;
    left:100%;
    top:0;
    margin-top:20px;
    }
#slider i::after{
      content:" Click !   ";
      font-family: "Amatic SC", cursive;
      text-shadow: 1px 1px #e2098e;
    }