/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  padding: 18px;
  width: 100%;
}
.accordion,p {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: "Amatic SC", cursive;
  border: 1px solid #af24a9;
  padding:20px;
  font-weight: 900;
  color: slateblue;
  font-size: 1.5em;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
  text-align:justify;
}
.accordion i{
  color:#af24a9;
  padding-right:10px;
}

