.bold{
  font-weight:bolder;
}
.center{
  text-align:center;
}
.underline{
  content:"";
  border-bottom: 1px dashed #e2098e;
  padding:8px 0 8px 0;
  width: 100%;
  display:block;
}
.lastWords{
  border:none;
  box-shadow:none;
  font-family: "Amatic SC", cursive;
  padding:0;
  font-size:2em;
  margin-bottom:0;
  color:#af24a9;
}
.textbox,
.textbox2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:center;
  border-bottom: 1px solid #e2098e;
  justify-content: space-evenly;
  width: -webkit-fill-available;
}
.textbox2 {
  flex-direction: row-reverse;
}
.textbox3 {
  display: block;
  padding: 2%;
}
.text,
.text2,
.text3,
.text4 {
  /* font-family: "Raleway", sans-serif; */
  margin:0;
  font-size: 15px;
  text-align: justify;
  color: #444;
}
.text {
  border-left: 1px solid #e2098e;
  padding: 5%;
}
.text2 {
  border-right: 1px solid #e2098e;
  padding: 5%;
}
.text3 {
  text-align: center;
  padding: 5px;
}
.text4 {
  color: #e2098e;
  text-align: center;
}
h2 {
  font-family: 'Bad Script', cursive;
  color: #af24a9;
  text-transform: uppercase;
  margin: 5%;
  text-align: center;
}
.color2 {
  border: 1px solid indigo;
}
.footerbox {
  padding-top: 3%;
  word-spacing: 10px;
  line-height: 2.2em;
  display:block;
}
footer *{
  color: #e2098e;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
footer *:last-child{
 padding-left: 10px;
 float:right;
font-size: 1.5em;
color:#af24a9;
}
#slider i{
font-size:3em;
color: #e2098e;
position:sticky;
left:100%;
top:0;
line-height:3em;
}
#slider i::after{
  content:" Click !   ";
  font-family: "Amatic SC", cursive;
  text-shadow: 1px 1px #e2098e;
}
.textbox3{
  height: 300px;
  width: auto;
}
#clickBox{
  position:relative;
  height:700px;
}
.fa-arrow-circle-left, .fa-arrow-circle-right{
  position: absolute;
  top: 20px;
  font-size:2em;
  color: #e2098e;
}
.fa-arrow-circle-right{
  right: -41px;
}
.fa-arrow-circle-left{
  left:-41px;
}
