@import url("https://fonts.googleapis.com/css?family=Bad+Script|Philosopher|Vidaloka|Amatic+SC|Raleway|family=Yeon+Sung&display=swap");
@import url("./css/animations.css");
@import url("./css/header.css");
@import url("./css/notes.css");
@import url("./css/blog.css");
@import url("./css/ifaqs.css");
@import url("./css/links.css");
@import url("./css/kontakt.css");

html {
  border-left: 5px dotted hotpink;
  margin-left: 20px;
  padding: 20px 130px 130px 130px;
}

body {
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-image: url("./images/header-img_alltagsalternativen.png"),
  url("./images/Klecks2.png"), url("./images/structure2.jpg") ;
  background-blend-mode: color-burn;
  background-attachment:fixed;
  /* background-attachment: scroll; */
  background-size: auto,auto,cover;
  background-position: top left,center right,top;
}
section{
  position:relative;
  height:90%;
  }
section::before{
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }